@using System.ComponentModel.DataAnnotations
@using System.Web.UI.WebControls
@model IEnumerable<PlantM.Models.PlantModels.Soil>

@{
    ViewBag.Title = "Index";
}

<h2>Soil mixes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desription, new { maxlength = 20 })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Name}) |
                @Html.ActionLink("Details", "Details", new {id = item.Name}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Name})
            </td>
        </tr>
    }

</table>

<button class="btn btn-primary">@Html.ActionLink("Back to List", "Index", "Plant")</button>
