@model PlantM.Models.PlantModels.Plant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcquisitionType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcquisitionType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soil.Desription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soil.Desription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeciesLabel.CustomGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeciesLabel.CustomGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.WebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.WebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAcquisition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAcquisition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeAtAcquisition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeAtAcquisition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
