@model PlantM.Models.PlantModels.Plant

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">

        <div class="col-md-12 ">
            <div class="col-md-6">
                <h2>@Html.Label(Model.CollectionNumber, new {@class = "label-plant-number" }) @Model.SpeciesLabelName</h2>
            </div>
            <div class="col-md-6">
                @if (@Model.HasWithered)
                {
                    @Html.Label($"Withered", new {@class = "label-inactive-plant"})
                }
                @if (@Model.IsDeleted)
                {
                    @Html.Label($"Deleted", new {@class = "label-inactive-plant"})
                }
            </div>
            <hr/>
        </div>

        <div class="col-md-4">
            <img src="@Model.PhotoUrl" class="img-responsive" alt="Sample Photo" />
        </div>

        <div class="col-md-8">
            <div class="col-md-6">
                <dl class="dl-horizontal">                   
                    <dt>
                        @Html.DisplayNameFor(model => model.LocationName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LocationName)
                    </dd>
                    
                    <hr>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.SoilName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoilName)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.PotType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PotType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastRepottingDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastRepottingDate)
                    </dd>
                    
                    <hr>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfAcquisition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfAcquisition)
                    </dd>
                                                                          
                    <dt>
                        @Html.DisplayNameFor(model => model.AcquisitionTypeName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AcquisitionTypeName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VendorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VendorName)
                    </dd>                 
                </dl>
            </div>

            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Size)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Size)
                    </dd>
                    
                    <hr>

                    <dt>
                        @Html.DisplayNameFor(model => model.Comments)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Comments)
                    </dd>
                </dl>
            </div>

            <div class="col-md-12">

                @if (!Model.HasWithered && !Model.IsDeleted)
                {
                    <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.CollectionNumber })</button>
                    <button class="btn btn-primary">@Html.ActionLink("Relocate", "Relocate", new { id = Model.CollectionNumber })</button>
                    <button class="btn btn-primary">@Html.ActionLink("Repot", "Repot", new { id = Model.CollectionNumber })</button>
                    <button class="btn btn-primary">@Html.ActionLink("Wither", "Wither", new { id = Model.CollectionNumber })</button>
                    <button class="btn btn-primary">@Html.ActionLink("Delete", "Delete", new { id = Model.CollectionNumber })</button>
                }
                <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        </div>
    </div>
</div>


