@model PlantM.Models.PlantModels.Plant

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">

        <div class="row">
            <div class="col-md-6">
                <h5>@Html.Label(Model.CollectionNumber, new { @class = "label-plant-number" })</h5>
            </div>

            <div class="col-md-6">
                @if (!Model.HasWithered && !Model.IsDeleted && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = Model.CollectionNumber }, new { @class = "btn btn-danger right" })
                    @Html.ActionLink("Wither", "Wither", new { id = Model.CollectionNumber }, new { @class = "btn btn-info right" })
                    @Html.ActionLink("Repot", "Repot", new { id = Model.CollectionNumber }, new { @class = "btn btn-info right" })
                    @Html.ActionLink("Relocate", "Relocate", new { id = Model.CollectionNumber }, new { @class = "btn btn-info right" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.CollectionNumber }, new { @class = "btn btn-primary right" })
                }
                @if (@Model.HasWithered)
                {
                    @Html.Label($"Withered", new { @class = "label-inactive-plant right" })
                }
                @if (@Model.IsDeleted)
                {
                    @Html.Label($"Deleted", new { @class = "label-inactive-plant right" })
                }
            </div>
        </div>

        <h2>@Model.SpeciesLabelName</h2>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <img src="@Model.PhotoUrl" class="img-responsive" alt="Sample Photo" />
            </div>

            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                @Html.DisplayNameFor(model => model.LocationName)
                            </th>
                            <th>
                                <span class="glyphicon glyphicon-leaf"></span>
                                @Html.DisplayNameFor(model => model.Age)
                            </th>
                            <th>
                                <span class="glyphicon glyphicon-resize-horizontal"></span>
                                @Html.DisplayNameFor(model => model.Size)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="accent">
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.LocationName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Size)
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="row">

                    <div class="col-md-6">
                        <dl class="dl-horizontal details-box">
                            <dt>
                                @Html.DisplayNameFor(model => model.SoilName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SoilName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PotType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PotType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastRepottingDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastRepottingDate)
                            </dd>
                        </dl>
                    </div>

                    <div class="col-md-6">
                        <dl class="dl-horizontal details-box">
                            <dt>
                                @Html.DisplayNameFor(model => model.DateOfAcquisition)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateOfAcquisition)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AcquisitionTypeName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AcquisitionTypeName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.VendorName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.VendorName)
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Comments)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Comments)
                        </dd>
                    </dl>
                </div>

                <div class="col-md-12">
                    <a href="/Plant/index" class="btn btn-default">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>



