@using Microsoft.Ajax.Utilities
@using PlantM.Helpers
@model IEnumerable<PlantM.Models.PlantModels.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create").If(User.IsInRole("Admin"))
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Name}).If(User.IsInRole("Admin")) |
            @Html.ActionLink("Details", "Details", new {id = item.Name}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Name}).If(User.IsInRole("Admin"))
        </td>
    </tr>
}

</table>

<button class="btn btn-primary">@Html.ActionLink("Back to List", "Index", "Plant")</button>
